# Core framework & server
fastapi
uvicorn
pydantic
python-dotenv

# Distributed compute & serving
ray
ray[serve]

# Storage & I/O
boto3
qdrant-client
supabase

# Parsing & extraction
llama-index
scrapy
playwright
unstructured
trafilatura

# Embedding & modeling
# sentence-transformers

# Utilities
xxhash
sqlalchemy
prometheus-client
langfuse
opentelemetry-sdk
opentelemetry-api
opentelemetry-exporter-otlp
opentelemetry-instrumentation-fastapi
opentelemetry-instrumentation-logging
openllmetry
ragas
langchain

# Testing
pytest
httpx
